.container {
    margin-top: 30px;
  }

  .productsCol {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    align-content: flex-start;
    background-color: white;
  }

  .productsTitle {
    color: #6F6F6F;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 6px !important;
    padding: 0px !important;
  }

  .buttonContainer {
    padding: 0px !important;
  }

  @mixin defaultItemTypeButton {
    width: 60px;
    height: 30px;
    border: none;
    margin: 5px 5px 10px 0px;
    font-size: 13px;
    font-weight: 600;
  }

  .activeItemTypeButton {
    @include defaultItemTypeButton();
    background-color: #1EA4CE;
    color: #F2F0FD; 
  }

  .itemTypeButton {
    @include defaultItemTypeButton();
    background-color: #F2F0FD;
    color: #1EA4CE; 
  }

  .pageItem {
    color: #1EA4CE; 
  }

  .pagination {
    display: flex;
    gap: 25px;
    list-style-type: none;
    margin-top: 20px !important;
  }

 
